---
Language: Cpp
BasedOnStyle: Google

SortIncludes: false

IncludeBlocks: Preserve

BinPackParameters: false
BinPackArguments: false

AlignAfterOpenBracket: Align

AllowAllArgumentsOnNextLine: false
---

